
/* Utilities */

body{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    overflow-x: hidden;

}

header{
    background-color: #2D25A0;
    
}

header:hover .information h1{
   transform: scaleX(1.2) rotateX(360deg) ;
   transition: 5s;
}


button{
    background-color:#E02C6D;
    border:1px solid #E02C6D;
    color:#FFFFFF;
    width: 128px;
    height:34px;
    position: relative;
}

a{
    text-decoration: none;
}

footer{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
footer img{
    width:30%;
}

/* navigation panal */

.navbar button{
    left:780px ;
}



.navbar{
    width:1160px;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 60px;
    

}

.navbar ul{
    list-style: none;
    position: absolute;


    
}

.navbar li{
    margin: 10px;
    display: inline-block;
    
}

.navbar a{
    color:#FFFFFF;
    width:48px;
    height: 24px;
}

/* container */

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 110px;

}

/* image class */

.image img{
    width:600px; 
    
} 


/* information class */
.information h1{
    color: white;
    font-size:3.5em;
    font-family: 'Otomanopee One', sans-serif;
    width:100%;
}

.information button{
    margin: 15px;

}


/* player class */

.player_list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    position: relative;
    margin-left: 120px;
    
}

.player{
    width:330px;
    height:500px;
    border:2px solid white;
    
    box-shadow: 2px 2px 20px grey;
    margin:15px;
    border-radius:25px;
    overflow: hidden;
}

.player img{
    width: 300px;
    height: 256px;
    margin: 15px;
    border-radius:10px;
    margin-bottom: 0;

    
}
.player img:hover{
    transform: scale(1.3);
    transition: 5s;

    
}

.player h1{
    font-family: 'Abril Fatface', cursive;
    margin-left: 17px;
    font-size: 2em;
    margin-top: 7px;
    margin-bottom:0px;
}

.player p{

    font-family: 'Lora', serif;
    margin:18px;
}


/* half class */

.half{
    width:600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.half img{
    width:100%;
    
}


.half p{

    margin:45px ;
    margin-top: 5px;
    margin-left: 0;
    padding-right: 50px;
    
    
}

.half h1{
    font-family: 'Bree Serif', serif;
    font-size: 3.5em;
    margin-bottom: 15px;
}


/* fontawesome sizing */

.fab {
    font-size: 2em;
    margin: 25px;
    background-color: rgb(230, 227, 227);
    padding:10px;
    border-radius:35px;
    margin-bottom: 0;
    margin-top: 5px;
    color: grey;
}




/* ---------------------------------------------------------------------------
                        media queries 
------------------------------------------------------------------------------*/


/* for mobile devices */

@media only screen and (max-width:600px) {
    
    footer img{
        width:30%;
    }
    
    footer p{
        font-size:small;
    }
    
    /* navigation panal */
    
    .navbar button{
        left:190%;
        top:40px;
    }
    
    
    
    .navbar{
        
        margin-left: 10px;
        
    
    }
    
    /* container */
    
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 50px;
    
    }
    
    /* image class */
    
    .image img{
        width:400px; 
        
    } 
    
    
    /* information class */
    .information h1{
        
        font-size:2.5em;
        
    }
    
    
    
    /* player class */
    
    .player_list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 70%;
        position: relative;
        margin-left: 40px;
        
    }
    
    
    /* half class */
    
    .half{
        width:400px;
        
    }
    
    .half img{
        width:90%;
        
    }
    
    .half h1{
        font-size: 3em;

    }
    
    
    /* fontawesome sizing */
    
    .fab{
        font-size: 1.3em;
        margin: 5px;
        padding:5px;
    
    }

}

/* for tablet  */

@media only screen and (min-width:601px) and (max-width:992px){
    
    footer img{
        width:30%;
    }
    
    footer p{
        font-size:large;
    }
    
    /* navigation panal */
    
    .navbar button{
        left:550px;
        
    }
    
    
    
    .navbar{
        
        margin-left: 0px;
        
    
    }
    
    /* container */
    
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 50px;
    
    }
    
    /* image class */
    
    .image img{
        width:500px; 
        
    } 
    
    
    /* information class */
    .information h1{
        
        font-size:3em;
        
    }
    
    
    
    /* player class */
    
    .player_list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 70%;
        position: relative;
        margin-left: 10%;
        
    }
    
    
    /* half class */
    
    .half{
        width:400px;
        
    }
    
    .half img{
        width:90%;
        
    }
    
    .half h1{
        font-size: 3em;

    }
    
    
    /* fontawesome sizing */
    
    .fab{
        font-size: 1.3em;
        margin: 5px;
        padding:5px;
    
    }

}