

/* google fonts */


@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Lobster+Two&family=Permanent+Marker&family=Tangerine:wght@700&display=swap');

/* Utilities */

body{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    overflow-x: hidden;

}

header{
    background-color: #2D25A0;
    
}

header:hover .information h1{
   transform: scaleX(1.2) rotateX(360deg) ;
   transition: 5s;
}


button{
    background-color:#E02C6D;
    border:1px solid #E02C6D;
    color:#FFFFFF;
    width: 128px;
    height:34px;
    position: relative;
    cursor: pointer;
}

a{
    text-decoration: none;
    color:white;
}

footer{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* for image in footer */

footer img{
    width:20%;
}

/* navigation panal */

#navbar button{
    left:780px ;
}



#navbar{
    width:1160px;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 60px;
    

}

#navbar ul{
    list-style: none;
    position: absolute;


    
}

#navbar li{
    margin: 10px;
    display: inline-block;
    
}

#navbar a{
    color:#FFFFFF;
    width:48px;
    height: 24px;
    
}

/* container */

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 110px;

}


/* information class */
.information h1{
    color: white;
    font-size:3.5em;
    font-family: 'Otomanopee One', sans-serif;
    width:100%;
}

.information button{
    margin: 15px;

}

/* image class */

.image img{
    width:600px; 
    
} 


/* player class */

.player_list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    position: relative;
    margin-left: 120px;
    
}

.player{
    width:330px;
    height:500px;
    border:2px solid white;
    
    box-shadow: 2px 2px 20px grey;
    margin:15px;
    border-radius:25px;
    overflow: hidden;
}

.player img{
    width: 300px;
    height: 256px;
    margin: 15px;
    border-radius:10px;
    margin-bottom: 0;

    
}
.player img:hover{
    transform: scale(1.3);
    transition: 5s;

    
}

.player h1{
    font-family: 'Abril Fatface', cursive;
    margin-left: 17px;
    font-size: 2em;
    margin-top: 7px;
    margin-bottom:0px;
}

.player p{

    font-family: 'Lora', serif;
    margin:18px;
    text-align: justify;
}


/* half class */

.half{
    width:600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.half h1{
    font-family: 'Bree Serif', serif;
    font-size: 3.5em;
    margin-bottom: 15px;
}


.half p{

    margin:45px ;
    margin-top: 5px;
    margin-left: 0;
    padding-right: 50px;
    text-align: justify;
    
    
}

.half img{
    width:100%;
    
}

#Stadiums{
    margin-bottom: 100px;
    /* background:url("stadium2.jpg"); */
}

#Stadiums img{
    margin-top: 3px;
    width:1350px;
    /* height:100%; */
    

}

#Stadiums {
    display: flex;
    flex-direction: column;
}

#Stadiums{
    justify-content: center;
    
}

/* flex-display class  */

#flex-display{

    display: flex;
    flex-direction: column;
    position: absolute;
    width: 1500px;
    height:751px;
    justify-content: center;
    overflow: hidden;
    color: white;
    background-color:/*rgba(0, 0, 0, 0.800);*/rgba(18, 18, 29, 0.845);
    
}

#flex-display h1{
    padding:400px;
    padding-bottom: 0;
    margin-left:150px;
    font-size: 2em;
}

#flex-display p{
    padding:400px;
    padding-top: 0;
    padding-right: 300px;
    margin-left:150px;
    color: aliceblue;
    font-size:1.2em;
    text-align: justify;
    
}

#flex-display button{
    
    display: block;
    margin-top:30px;
}



/* for trophy section*/

#cup{
    
    display: flex;
    flex-direction:column; 
    align-items: center;
    margin-top: 0px;
    margin-bottom: 100px;
}

#cup img{
    width:499px;
    height:499px;
    margin-top:0px;
    
}

#cup h1{
    font-family: 'Lobster Two', cursive;
    font-size:6em;
    margin-top:35px;
    margin-bottom:15px;

}
#cup p{
    padding:200px;
    padding-top:0;
    padding-bottom: 0;
    text-align: justify;
    font-family: 'STIX Two Math', serif;
    font-size:1.2em;
    margin-bottom:30px;
   
    
}

#cup button {
    width: 200px;
    height: 50px;
    font-size:1.2em;
    font-family: 'STIX Two Math', serif;
    background-color:ghostwhite;
    color:black;

}

#cup .fas{
    color: #E02C6D;
}

#cup button:hover{
    background-color:gainsboro;
    color:black;
}

/* fontawesome sizing for footers */

.fab {
    font-size: 1.5em;
    margin: 15px;
    background-color: rgb(230, 227, 227);
    padding:7px;
    border-radius:35px;
    margin-bottom: 0;
    margin-top: 5px;
    color: grey;
}




/* ---------------------------------------------------------------------------
                        media queries 
------------------------------------------------------------------------------*/


/* ----------------------
    for mobile devices 
----------------------*/

@media only screen and (max-width:600px) {
    
    footer img{
        width:30%;
    }
    
    footer p{
        font-size:small;
    }
    
    /* navigation panal */
    
    #navbar button{
        left:190%;
        top:40px;
    }
    
    
    
    #navbar{
        
        margin-left: 10px;
        
    
    }
    
    /* container */
    
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 50px;
    
    }
    
    /* image class */
    
    .image img{
        width:400px; 
        
    } 
    
    
    /* information class */
    .information h1{
        
        font-size:2.5em;
        
    }
    
    
    
    /* player class */
    
    .player_list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 70%;
        position: relative;
        margin-left: 40px;
        
    }
    
    
    /* half class */
    
    .half{
        width:400px;
        
    }
    
    .half img{
        width:90%;
        
    }
    
    .half h1{
        font-size: 3em;

    }
    
    
    /* fontawesome sizing */
    
    .fab{
        font-size: 1.3em;
        margin: 5px;
        padding:5px;
    
    }

    
    #Stadiums{
        margin-bottom: 100px;
        /* background:url("stadium2.jpg"); */
    }

    #Stadiums img{
        width:400px;
        

    }

    #Stadiums {
        margin:30px;
    }



    #flex-display{

        display: inline-block;
        width: 400px;
        height:225px;
        

        
    }

    #flex-display h1{
        padding:0px;
        padding-bottom: 0;
        margin-left:150px;
        font-size:1em;
        
    }

    #flex-display p{
        padding:00px;
        padding-top: 0;
        padding-right: 10px;
        margin-left:150px;
        color: aliceblue;
        font-size:.5em;
        text-align: justify;
        
        
    }

    #flex-display button{
        
        display: block;
        margin-top:5px;
        font-size: 1.5em;
        
        padding: 0;
        margin-left:-140px;
        margin-top: -100px;
        background-color:rgba(248, 248, 255, 0.397) ;
        color:black;
        font-weight: bold;
    }

    #flex-display button a{
        color:black;
    }

    

    #cup{
        
        display: flex;
        flex-direction:column; 
        align-items: center;
        margin-top: 0px;
        margin-bottom: 100px;
    }

    #cup img{
        width:499px;
        height:499px;
        margin-top:0px;
        
    }

    #cup h1{
        font-family: 'Lobster Two', cursive;
        font-size:3em;
        margin-top:35px;
        margin-bottom:15px;

    }
    #cup p{
        padding:50px;
        padding-top:0;
        padding-bottom: 0;
        text-align: justify;
        font-family: 'STIX Two Math', serif;
        font-size:1.2em;
        margin-bottom:30px;
    
        
    }

    #cup button{
        width: 200px;
        height: 50px;
        font-size:1.2em;
        font-family: 'STIX Two Math', serif;
        background-color:ghostwhite;
        color:black;

    }

    #cup .fas{
        color: #E02C6D;
    }

    #cup button:hover{
        background-color:gainsboro;
        color:black;
    }

}

/* ----------------------
        for tablet 
----------------------- */

@media only screen and (min-width:601px) and (max-width:992px){
    
    footer img{
        width:30%;
    }
    
    footer p{
        font-size:large;
    }
    
    /* navigation panal */
    
    #navbar button{
        left:550px;
        
    }
    
    
    
    #navbar{
        
        margin-left: 0px;
        
    
    }
    
    /* container */
    
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 50px;
    
    }
    
    /* image class */
    
    .image img{
        width:500px; 
        
    } 
    
    
    /* information class */
    .information h1{
        
        font-size:3em;
        
    }
    
    
    
    /* player class */
    
    .player_list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 70%;
        position: relative;
        margin-left: 10%;
        
    }
    
    
    /* half class */
    
    .half{
        width:400px;
        
    }
    
    .half img{
        width:90%;
        
    }
    
    .half h1{
        font-size: 3em;

    }
    
    
    /* fontawesome sizing */
    
    .fab{
        font-size: 1.3em;
        margin: 5px;
        padding:5px;
    
    }

    #Stadiums{
        margin-bottom: 100px;
        /* background:url("stadium2.jpg"); */
    }

    #Stadiums img{
        width:800px;
        margin-top:4px;
        

    }

    #Stadiums {
        margin:40px;
    }



    #flex-display{

        display: inline-block;
        width: 800px;
        height:445px;
        

        
    }

    #flex-display h1{
        padding:50px;
        padding-left: 150px;
        padding-bottom: 0;
        font-size:1.5em;
        margin-top:0;
        padding-top:20px;
        
    }

    #flex-display p{
        padding:80px;
        padding-top: 0px;
        padding-right: 10px;
        margin-left:220px;
        color: aliceblue;
        font-size:.95em;
        text-align: justify;
        
        
    }



    #cup{
        
        display: flex;
        flex-direction:column; 
        align-items: center;
        margin-top: 0px;
        margin-bottom: 100px;
    }

    #cup img{
        width:499px;
        height:499px;
        margin-top:0px;
        
    }

    #cup h1{
        font-family: 'Lobster Two', cursive;
        font-size:3em;
        margin-top:35px;
        margin-bottom:15px;

    }
    #cup p{
        padding:50px;
        padding-top:0;
        padding-bottom: 0;
        text-align: justify;
        font-family: 'STIX Two Math', serif;
        font-size:1.2em;
        margin-bottom:30px;
    
        
    }

    #cup button{
        width: 200px;
        height: 50px;
        font-size:1.2em;
        font-family: 'STIX Two Math', serif;
        background-color:ghostwhite;
        color:black;

    }

    #cup .fas{
        color: #E02C6D;
    }

    #cup button:hover{
        background-color:gainsboro;
        color:black;
    }

}